#title{
 background-color: #a9ba9d;

}
.navbar{
 background-color: #a9ba9d;

}

h1{
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 3rem:
line-height: 1.3;
}
h1{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 3rem:
line-height: 1.3;
}
h3{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 3rem:
  line-height:1.3;
}




body{
  font-family: 'Montserrat',sans-serif;

}
.container-fluid{
  padding: 2% 1%;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: bold;
}
.navbar{
  padding-bottom: 4rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  padding: 1.2rem;
}
.download-button{
  margin: 5% 3% 5% 0;

}
.motor-image{
  width: 55%;
  transform: rotate(15deg);


}
.navbar{
  font-size: 1.2rem;

}
.row{
margin: 0.20px 0;

}
.fa-heart, .fa-bullseye, .fa-check-circle{
  margin: 20px;
  color: #a9ba9d;

}
#features{
  padding: 7% 15%;
}

.features-box{
  text-align: center;
  padding:  5%;
}
.icon{
  color:#a9ba9d;
  margin-bottom: 1rem;
}


.icon:hover{
  color: #eadbc8;

}

#testimonials{
  text-align: center;
  background-color#a9ba9d;
  color: black;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonials-image{
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}
#press{
background-color:#a9ba9d;
text-align: center;
padding-bottom: 3%;
}
.press-logo{
  width: 12%;
  margin: 20px 20px 50px;
}
#cta{
  margin-top: 50px;
  background-color:  white;
  text-align: center;

}
#footer{
  text-align: center;
  background-color: white

}
#testimonials{
  text-align: center;
  background-color:white;
  color: black;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonials-image{
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}
#press{
background-color:black;
text-align: center;
padding-bottom: 3%;
}
.press-logo{
  width: 12%;
  margin: 20px 20px 50px;
}
/* Media Query */

@media (max-width:1028px){

#title {
  text-align: center;
}
#features{
 padding: 7% 15%;
 background-color: black;
 position: relative;
 z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Media Query */



.icee-image{
  transform: rotate(0);
  position: static;
}



}




/* Feautures Section */

#features{
 padding: 7% 15%;
 background-color: #a9ba9d;
 position: relative;
 z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
color: #a9ba9d;
margin-bottom: 1rem;
}

.icon:hover {
  color: #a9ba9d;
}

/* Testimonial Section */

#testimonials {
 text-align: center;
 background-color: #a9ba9d;
 color:  white;

}

.carousel-item {
   padding: 7% 15%;
}


.testimonial-image {
 width: 10%;
border-radius: 50%;
margin: 20px;
}

/* Press Section */

#press {
background-color: #a9ba9d;
text-align: center;
padding-bottom: 3%;
width: 50;
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
  background-color: #a9ba9d;
}

.pricing-column {
padding: 3% 2%;

}
